body{
  font-family: sans-serif;
  text-align: center;
}
.button {
  padding: 5px;
  box-shadow: 10px 10px 5px #888888;
  background-color: blue;
  font-size: 20px;
  color: white;
}
#right {
  height: 300px;
  width: 300px;
  margin-left: 30%;
  background-color: green;
  font-size: 30px;
  color: white;
}
.wrong {
  height: 300px;
  width: 300px;
  margin-left: 30%;
  background-color: red;
  font-size: 30px;
  color: white;
}
