<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Lecture</title>
</head>
<body>
  <h1>Welcome home!</h1>
  <ul>
    <li><a href="/Indiana">Indiana</a></li>
    <li><a href="/California">California</a></li>
    <li><a href="/new_york">New York</a></li>
    <br>
</ul>
{% if session.user_name : %}
  {{ session.user_name }}
  <a href = "/logout">Logout</a>
  <br>
  {% else %}
  <br>
  <a href = "/login">Login</a>
  {% endif %}

{% for location in session.trip_history %}
  {{location}}<br>
{% endfor %}

</body>
</html>
