<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Login Page</title>
</head>
<body>
  <h1>LOGIN PAGE</h1>
  <form action="/auth" method="POST">
    Email:
    <input type="text" name="html_email" value=""></input>
    <br>
    <br>
    Password:
    <input type="password" name="html_password" value=""></input>
    <br>
    <input type="submit" name="" value="LOGIN"></input>
  </form>
  <br>

</body>
</html>
